<div class="container text-center">
<i class="fas fa-utensils fa-10x title"></i>
<br>
<%= link_to 'Add a new restaurant', new_restaurant_path, class: "btn btn-primary"  %>
<br>
<div class="resto">
<% @restaurants.each do |restaurant| %>
<div>
  <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
  <p><%= restaurant.address %></p>
  <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, restaurant_path(restaurant),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
</div>
<% end %>
</div>

</div>



